header.admin-theme {
  background-color: var(--color-acento) !important;
  transition: background-color 0.5s ease;
}

header.home-theme {
  background-color: var(--color-acento) !important;
  transition: background-color 0.5s ease;
}

.dropdown-menu {
  z-index: 1060 !important;
}

.sticky-top {
  z-index: 999 !important;
}

.specialbuttom{
  color: #ffffff !important;
  transition: color 0.2s ease-in-out;

  &:hover {
    /* El azul clásico de los enlaces al pasar el ratón */
    color: var(--color-acento) !important;
  }
}
